test

out
build
*.xcodeproj

vendor/tree-sitter/**/*
!vendor/tree-sitter/src/compiler/**/*
!vendor/tree-sitter/include/**/*
!vendor/tree-sitter/externals/utf8proc/*
!vendor/tree-sitter/externals/json-parser/*
!vendor/tree-sitter/project.gyp

